.card {
    width: 300px;
}
.list {
    display: flex;
    flex-direction: column;
    .list-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}