.dashboard {
    background-color: lightgray;
    width: 85%;
    display: flex;


    .feed {
        margin: 10px;
        border: 1px solid black;
        width: 50%;
        .cards {
            border: 1px solid black;
            
            display: flex;
            justify-content: space-around;
            
        }
    }
    .summary {
        margin: 10px;
        width: 50%;
        border: 1px solid black;
    }
}