.dashboard {
    background-color: lightgray;
    width: 85%;
    display: flex;


    .feed {
        margin: 10px;
        
        width: 50%;
        .cards {
            
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            
        }
    }
    .summary {
        margin: 10px;
        width: 50%;
        border: 1px solid black;
    }
}