.dashboard {
    background-color: lightgray;
    width: 85%;
    display: flex;


    .feed {
        margin: 10px;
        width: 50%;
        .cards {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }
    .summary {
        margin: 10px;
        width: 25%;
        background-color: white;
        height: 300px;
        .summaryCard {
            display: flex;
            flex-direction: column;
            
            .totalCashWrapper {
                margin: 10px;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
            }
            .bar {
                margin: 25px auto 0 auto;
                width: 85%;
            }
        }
    }
}