.dashHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  border: solid black thin;
  border-style: thin; }
  .dashHeader .dashHeaderCompany {
    border-right: solid black 1px;
    height: 100%;
    align-content: center;
    width: 200px; }
  .dashHeader .dashHeaderActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-left: 2%; }
    .dashHeader .dashHeaderActions .material-icons {
      font-size: 40px;
      color: #098bb7; }
    .dashHeader .dashHeaderActions span {
      margin: 10px;
      font-size: 15px;
      color: #098bb7;
      font-weight: bolder; }
  .dashHeader .dashHeaderSearch {
    display: flex;
    margin-left: 25%; }
    .dashHeader .dashHeaderSearch .material-icons {
      font-size: 40px;
      color: #098bb7; }
