.dashHeader {
    // margin-top: 15px;
    // margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    border: solid black thin;
    border-style: thin;

    .dashHeaderCompany {
        border-right: solid black 1px;
        height: 100%;
        align-content: center;
        width: 200px;
    }

    .dashHeaderActions {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        margin-left: 2%;
        
        .material-icons {
            font-size: 40px;
            color: #098bb7
        }

        span {
            margin: 10px;
            font-size: 15px;
            color: #098bb7;
            font-weight: bolder;
        }
    }

    .dashHeaderSearch {
        display: flex;
        margin-left: 25%;

        .material-icons {
            font-size: 40px;
            color: #098bb7;
        }
    }
}

    