.notifications {
    
    .notification {
        
        margin-bottom: 10px;
        .main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .message {
                font-size: 14px;
            }
            .action {
                font-size: 12px;
            }
        }
        
    }
}