.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 15%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), -2px 2px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .nav-bar .links {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
    .nav-bar .links div, .nav-bar .links figure {
      padding: 5px;
      display: flex;
      align-items: center;
      margin: 10px;
      justify-content: flex-start;
      margin-top: 15px; }
      .nav-bar .links div .material-icons, .nav-bar .links figure .material-icons {
        margin-left: 15px;
        color: rgba(0, 0, 0, 0.7); }
      .nav-bar .links div a, .nav-bar .links figure a {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
        margin-left: 20px; }

.links div:hover {
  background-color: lightskyblue;
  color: rgba(0, 0, 0, 0.7); }

.active {
  background-color: lightskyblue;
  color: rgba(0, 0, 0, 0.7); }
  .active a, .active .material-icons {
    color: rgba(0, 0, 0, 0.7); }
