.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 200px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.12), -2px 2px 3px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .links {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        div {
            display: flex;
            align-items: center;
            margin: 10px;
            justify-content: flex-start;
            margin-top: 15px;
            .material-icons {
                margin-left: 15px;
                color: rgba(0, 0, 0, 0.26);
            }
            a {
                 color: rgba(0, 0, 0, 0.26);
            }
            
            
        }
        a {
            text-decoration: none;
            margin-left: 20px;
        }
    }
    
    .settings {
        margin-bottom: 60px;
        .material-icons.md-dark.md-inactive {
            margin-left: 15px;
        }
        a.md-dark.md-inactive {
            text-decoration: none;
            margin-left: 20px;
        }
    }
}
.active {
    background-color: lightskyblue;
    color: rgba(0, 0, 0, 0.70); 
    a, .material-icons {
        color: rgba(0, 0, 0, 0.70); 
    }
}