.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 200px;
    border-right: 1px solid black;
    .links {
        margin-top: 10px;
        div {
            padding: 10px;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
    .settings {
        margin-bottom: 60px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}
